{% extends 'index.html' %}

{% block content %}

<div class="container">
  <div class="column1">
    <iframe src="https://editor.p5js.org/ben-dh3/sketches/K7WYqaDeb" width="400px" height="400px"></iframe>
    <iframe src="https://editor.p5js.org/ben-dh3/sketches/mtEMLU1hQ" width="400px" height="400px"></iframe>
  </div>

  <div class="column2">
    {% for post in post_list %}

    <div class="post">
      <a class="listtitle" href="{% url 'post_detail' post.slug %}">{{ post.title }}
      </a>
      <br>
      <p class="date">{{ post.created_on }}</p>
      <p class="summary">{{ post.summary }}</p>
    </div>
     <p class="tags">
      <strong>Tags:</strong>
      {% for tag in post.tags.all %}
          <a>
              {{ tag.name }}
          </a>
      {% endfor %}
    </p>
    <hr>
    {% endfor %}
  </div>
</div>


{% endblock content %}